<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid Website</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="wrapper">
    <div class="row">
      <div class="col-12 header-height slider"></div>
      <div class="col-12 menu-height menu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image col-4 big">
    <div id="zoom-In">
      <figure>
        <img src="./image/canyon-1.jpg" alt="" />
      </figure>
    </div>
  </div>
  <div class="image col-4">
    <div id="zoom-In">
      <figure>
        <img src="./image/bird.jpg" alt="" />
      </figure>
    </div>
  </div>
  <div class="image col-4">
    <div id="zoom-In">
      <figure>
        <img src="image/canyon.jpg" alt="" />
      </figure>
    </div>
  </div>
  <div class="col-12 content-height content">

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi dolorum, est quis nesciunt, natus,
      repudiandae repellat repellendus quisquam eveniet perspiciatis fugit laborum ex. Odit at blanditiis architecto
      porro maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi dolorum, est quis nesciunt, natus,
      repudiandae
      repellat repellendus quisquam eveniet perspiciatis fugit laborum ex. Odit at blanditiis architecto porro maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi dolorum, est quis nesciunt, natus,
      repudiandae
      repellat repellendus quisquam eveniet perspiciatis fugit laborum ex. Odit at blanditiis architecto porro maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi dolorum, est quis nesciunt, natus,
      repudiandae
      repellat repellendus quisquam eveniet perspiciatis fugit laborum ex. Odit at blanditiis architecto porro maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi dolorum, est quis nesciunt, natus,
      repudiandae
      repellat repellendus quisquam eveniet perspiciatis fugit laborum ex. Odit at blanditiis architecto porro maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi dolorum, est quis nesciunt, natus,
      repudiandae
      repellat repellendus quisquam eveniet perspiciatis fugit laborum ex. Odit at blanditiis architecto porro maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi dolorum, est quis nesciunt, natus,
      repudiandae
      repellat repellendus quisquam eveniet perspiciatis fugit laborum ex. Odit at blanditiis architecto porro maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi dolorum, est quis nesciunt, natus,
      repudiandae
      repellat repellendus quisquam eveniet perspiciatis fugit laborum ex. Odit at blanditiis architecto porro maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi dolorum, est quis nesciunt, natus,
      repudiandae
      repellat repellendus quisquam eveniet perspiciatis fugit laborum ex. Odit at blanditiis architecto porro maiores.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum itaque cum quas laudantium sapiente fuga
      explicabo ratione aperiam, amet expedita illum pariatur! Ullam tenetur in sint voluptate aliquid et. Excepturi.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ea enim recusandae et, fuga repellendus quaerat
      mollitia nihil harum ducimus distinctio tempore rerum nisi at eaque molestiae, doloremque a eligendi.</p>

  </div>
  <div>

  </div>
  <div class="footer container footer-height">
    <div class="col-12">
      <div class="social-icon col-12">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p id="foot" class="col-12">Copyright © 2020 Rony. All rights reserved</p>
    </div>
  </div>


  </div>

</body>

</html>